<% content_for :body_class, "page-container-bg-solid" %>

<div class="page-container">
  <div class="page-content-wrapper">
    <div class="page-head">
      <div class="container">
        <div class="page-head__inner">
          <div class="page-title">
            <h1>
              <%= t "suggestion.title" %>
            </h1>
          </div>
          <%= link_to t("button.set_criteria"), edit_dating_criterias_path, class: "btn btn-primary btn-edit-criteria" %>
        </div>
      </div>
    </div>
    <div class="page-content margin-bottom-25">
      <div class="page-content-inner" id="content-inner">
        <% if @user %>
          <%= render "user", user: @user %>
        <% else %>
          <%= render "no_results" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
