$blue: #4f8bdcbf;
$white: #fff;
$blue_btn: #32c5d2;
$black: #333;
$success: #abe7ed;
$success_text: #27a4b0;
$error_color: #a94442;
$error_bg: #f2dede;
$error_border: #ebccd1;
$gray: #eff3f8;
$light-blue: #D9EDF7;
$lighter-blue: #BCE8F1;
$gray: #F1F0F0;
$black: #eeeeee;
