$blue: #4f8bdcbf;
$blue_text: #3343b7;
$white: #fff;
$blue_btn: #32c5d2;
$black: #333;
$black_blur: #433f3a;
$success: #abe7ed;
$success_text: #27a4b0;
$error_color: #a94442;
$error_bg: #f2dede;
$error_border: #ebccd1;
$gray: #eff3f8;
$light-blue: #D9EDF7;
$lighter-blue: #BCE8F1;
$gray2: #F1F0F0;
$black2: #eeeeee;
$gray_f8: #f8f8f8;
$pink: #ff008d;
$brown: #855a44;
