.page-logo #logo img {
  max-height: 100%;
}

.page-header .page-header-top .page-logo .logo-default {
  margin-top: 0;
}

.profile-userbuttons {
  padding: 0 30px;
}

.dropdown-menu-list {
  height: 250px;
}

#progress-home{
  width: 40%;
}
.page-logo #logo img {
  max-height: 100%;
}

.page-header .page-header-top .page-logo .logo-default {
  margin-top: 0;
}

.profile-userbuttons {
  padding: 0 30px;
}

.dropdown-menu-list {
  height: 250px;
}

#progress-home{
  width: 40%;
}
