.page-logo #logo img {
  max-height: 100%;
}

.page-header .page-header-top .page-logo .logo-default {
  margin-top: 0;
}

.profile-userbuttons {
  padding: 0 30px;
}

.dropdown-menu-list {
  height: 250px;
}

#progress-home{
  width: 40%;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
  max-width: 350px;
  width: 350px;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
  max-width: 78px;
}

@media (max-width: 991px) {
  .page-header .page-header-menu {
    display: block;
    padding: 20px 0;
  }

  .home .page-header .page-header-menu {
    padding: 0;
  }
}