@import 'colors.scss';

ul {
  padding-left: 0;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: $light-blue;
  border-color: $lighter-blue;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: $gray2;
  border-color: $black2;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

#btn-send-chat{
  margin-top: 2%;
}

.hide_conversations {
  display: none;
}

.mg-r-3 {
  margin-right: 3%;
}
