.profile-sidebar-portlet {
  padding-bottom: 35px!important;
}

.information {
  padding: 0 20px;
  margin-bottom: 15px;
  &-label {
    font-weight: 800;
    &:after {
      content: ': ';
    }
  }
}

.page-head {
  .page-head__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    .page-title {
      float: none;
      padding: 0;
    }
  }
}

.btn-edit-criteria {
  margin-right: 35px;
}

.image-list {
  .image_item {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list {
  overflow-y: scroll;
}
